@model RegisterViewModel

@{
    var errorModel = ViewBag.ErrorModel as IdentityServer_FrontEnd.ViewModels.ErrorViewModel;//так дуже погано робити, користуватись динаміком- погано, треба знайти інше рішення
}

<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/styles/animation.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/styles/button.css") rel="stylesheet" type="text/css" />
</head>
<body class="body">
    <form asp-controller="Auth" asp-action="Register" metod="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="heared">Sign Up</div>
        <div style="text-align:center; font-size:30px;">
            @if (errorModel != null && errorModel.IdentityError != null)
            {
                foreach (var item in errorModel.IdentityError)
                {
                    <div>
                        <label class="main_pages_text">
                            @item.Description
                        </label>
                    </div>
                }
            }
        </div>
        <div class="block">
            @if (errorModel != null && errorModel.UserNameErrors != null)
            {
                foreach (var item in errorModel.UserNameErrors)
                {
                    <div>
                        <label class="main_pages_text">
                            @item.ErrorMessage
                        </label>
                    </div>
                }
            }
            <label class="main_pages_text">Username</label>
            <input asp-for="UserName" class="input" />
        </div>
        <div class="block">
            @if (errorModel != null && errorModel.PasswordErrors != null)
            {
                foreach (var item in errorModel.PasswordErrors)
                {
                    <div>
                        <label class="main_pages_text">
                            @item.ErrorMessage
                        </label>
                    </div>
                }
            }
            <label class="main_pages_text">Password</label>
            <input asp-for="Password" class="input" />
        </div>
        <div class="block">
            @if (errorModel != null && errorModel.ConfirmPasswordErrors != null)
            {
                foreach (var item in errorModel.ConfirmPasswordErrors)
                {
                    <div>
                        <label class="main_pages_text">
                            @item.ErrorMessage
                        </label>
                    </div>
                }
            }
            <label class="main_pages_text">Confirm password</label>
            <input asp-for="ConfirmPassword" class="input" />
        </div>
        <div class="block">
            <button type="submit" class="button">
                Sign up
            </button>
        </div>
    </form>
</body>
<footer>
    <form>
        <div class="block">
            <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="switch-button">Login</a>
        </div>
    </form>
</footer>

